<h1>Booking Confirmation</h1>

<p>Hello <%= @booking.name %>,</p>

<p>Thank you for booking with us! Your booking has been confirmed for the following room:</p>

<p><strong>Hotel:</strong> <%= @booking.room.hotel.name %></p>
<p><strong>Room Number : </strong> <%= @booking.room.number %></p>
<p><strong>Contact:</strong> <%= @booking.room.hotel.number %></p>
<p><strong>Date:</strong> <%= @booking.date %></p>

<p>We look forward to welcoming you!</p>

<p>If you have any questions, feel free to contact us.</p>

<p>Best regards,</p>
<p>Your Hotel Team</p>
